

/* Estilos para el contenedor principal de HomePage */
.homepage-container {
  padding-top: 60px; /* Espacio para la barra de navegación */
  border-left-width: 3px;
}


body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    text-align: start;
    background-color: rgba(94, 14, 255, 0);

  }
  @keyframes cambiar {
      
    
    0% {margin-top: -40px;}
    10% {margin-top: -40px;}
    
    20% {margin-top: -80px;}
    40% {margin-top: -80px;}
    
    50% {margin-top: -120px;}
    70% {margin-top: -120px;}
    
    80% {margin-top: -160px;}
    90% {margin-top: -160px;}


    95% {margin-top: -20px;}

    100% {margin-top: -40px;}
  }

.content{
  .contenedor{
    p{
      color: rgb(255, 255, 255);
      font-family: serif;
      font-size: 400%;
      /*line-height: 1.1;*/
      /*font-weight: bold;*/
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: rgb(255, 251, 3);
      transform: translate(25%,-5%);
     
      ;
      
    }
  }
}
.content{
  .contenedor{
    display: inline-block;
	  width: 700px;
	  height: 45px;
	  color: #000000;
	  font-size: 10px;
	  line-height: 40px;
	
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  margin: auto;
	  overflow: hidden;

    ul {
      list-style: none;
      font-family: serif;
      font-size: 400%;
      padding-left: 15px;
      animation: cambiar 7s infinite;
      transform: translate(60%,-0.8%);
      font-weight: bold;
      text-shadow: #000000;
      
    }
    ul, p {
      margin: 0;
      
    }
  }
}

.content{
  .quote{
    transform: translate(45%,60%);
    font-size: 200%;
  }
}


.imagen{
  width: 800px; /* Ancho deseado */
  height: 500px; /* Altura automática para mantener la proporción */
  display: block; /* Hacer que la imagen sea un elemento de bloque */
  margin: 0 auto 20px;
  transform: translate(20%,5%);

}

.right{
  width: 800px;
  text-align: left;
}

.content{
  justify-content: left;
}


.content{
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    
  }
  
  thead th:nth-child(1) {
    width: 10%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  
  th,
  td {
    padding: 20px;
    transform: translate(60%,60%);
    font-size: 180%;
    font-family: 'Times New Roman', Times, serif;
  }
  
}