
.agregar{
    .but1{
        transform: scale(2) translate(230%, -4600%); 
    }
    
    .but2{
        transform: scale(2) translate(475%, -4600%); 
    }
    .but3{
        transform: scale(2) translate(730%, -4600%); 
    }
    .but4{
        transform: scale(2) translate(80%, -3450%); 
    }
    .but5{
        transform: scale(2) translate(340%, -3450%); 
    }
    .but6{
        transform: scale(2) translate(580%, -3450%); 
    }

    .but7{
        transform: scale(2) translate(900%, -3450%); 
        font-family: 'Times New Roman', Times, serif;

    }
    
    .cont{
        
        transform: scale(2) translate(76.5%, -2350%);
    }

}

