/* Estilos para la barra lateral */
.sidebar {
    width: 250px; /* Ancho de la barra lateral */
    background-color: #f8f9fa; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    text-align: center;
  }
  
  /* Estilos para los enlaces de navegación */
  .navbar-nav .nav-item {
    margin-bottom: 10px; /* Espaciado entre elementos */
  }
  
  .navbar-nav .nav-link {
    color: #000; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Negrita */
  }
  
  .navbar-nav .nav-link:hover {
    color: #007bff; /* Color del texto al pasar el mouse */
  }
  