#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f9f5dd;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.input-box {
  margin-bottom: 10px; /* Agrega un margen inferior a los input */
}

.remember {
  margin-bottom: 10px; /* Agrega un margen inferior al grupo de Remember y Forgot Password */
}

.but {
  margin-top: 10px; /* Agrega un margen superior al botón */
}

.user{
  width: 60px; /* Ancho deseado */
  height: 60px; /* Altura automática para mantener la proporción */
  display: block; /* Hacer que la imagen sea un elemento de bloque */
  margin: 0 auto 20px; /

}

.login-container {
  background-color: rgba(255, 255, 255, 0.5); /* Color de fondo semi-transparente */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  width: 400px; /* Ancho del contenedor */
  margin: 0 auto; /* Centra horizontalmente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}
.background-image {
  position: absolute;
  width: 20%; /* O ajusta según tus necesidades */
  height: 250px; /* Altura de tu imagen */

}

.background-image img {
  position: absolute;
  top: 20px;
  left: 0;
  transform: translateX(35%); 
  width: 90%;
  height: 100%;
  opacity: 0.7;
}

.move {

    animation: moveImage 4s forwards; ;
}



@keyframes moveImage {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(900px); /* Mueve la imagen 100px hacia la derecha */
    opacity: 0;
  }
}