body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    text-align: start;
  }
  
  h1 {
  
    font-family: serif;
    font-size: 100%;
    /*line-height: 1.1;*/
    /*font-weight: bold;*/

  }