/* Estilos para el contenedor principal de HomePage */
.homepage-container {
  padding-top: 60px; /* Espacio para la barra de navegación */
  border-left-width: 3px;
}


body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    text-align: start;
    background-color: white;
  }
  
h1 {
  
    font-family: serif;
    font-size: 100%;
    /*line-height: 1.1;*/
    /*font-weight: bold;*/

}

.imagen{
  width: 800px; /* Ancho deseado */
  height: 500px; /* Altura automática para mantener la proporción */
  display: block; /* Hacer que la imagen sea un elemento de bloque */
  margin: 0 auto 20px; /

}

.right{
  width: 800px;
  text-align: left;
}

.content{
  justify-content: left;
}

.lista {
  padding: 0; /* Elimina el espacio interno predeterminado de las listas */
  list-style-type: none; /* Elimina los puntos de viñeta predeterminados */
}

.lista li {
  padding: 5px 0; /* Ajusta el espacio dentro de cada elemento de la lista */
  margin-bottom: 20px; /* Agrega espacio entre los elementos de la lista */
}