

body{
  max-width: 1280px;
  margin:  1px 0 0 1px;
  padding: 60px 1030px 280px 500px;
  background-color:#c7c8ddf0;

}

h1{
  transform: translate(130px, 8%);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  transform: translate(180%, -500%);
  box-shadow: inset;
}

.fondo{
  background:url('fondo.jpg') no-repeat;
  height:0; /* altura cero */
  background-size:80%;
  text-indent:-9999px;
  display:block;
  padding-bottom: 55.14285%;
  transform: scale(5, 4) translate(40%, 30%);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.input-box {
  
  margin-bottom: 10px; /* Agrega un margen inferior a los input */
  transform: translate(30%, 8%);
}

.remember {
  margin-bottom: 10px; /* Agrega un margen inferior al grupo de Remember y Forgot Password */
  transform: translate(20%, 8%);
}


.but {
  margin-top: 10px; /* Agrega un margen superior al botón */
  transform: translate(200%, 10%);
  width:70px;
  height:40px;
  border-radius: 10px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgb(0, 255, 183);
  outline: 1px solid;
  outline-color: rgb(255, 255, 255);
  outline-offset: 0px;
  text-shadow: none;
  font-family: 'Times New Roman', Times, serif;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.but:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #000000;
}
.user{
  width: 60px; /* Ancho deseado */
  height: 60px; /* Altura automática para mantener la proporción */
  display: block; /* Hacer que la imagen sea un elemento de bloque */
  margin: 0 auto 20px;

}

.login-container {
  position: center;
  background-color: rgba(255, 255, 255, 0.59); /* Color de fondo semi-transparente */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  width: 400px; /* Ancho del contenedor */
  margin: 0 auto; /* Centra horizontalmente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
  transform: translate(145%, -30%);
}


.carrito {
  position: absolute;
  width: 20%; /* O ajusta según tus necesidades */
  height: 250px; /* Altura de tu imagen */
  

}

.carrito img {
  position: absolute;
  top: 40px;
  left: 0;
  transform: translate(220%, -30%); 
  width: 90%;
  height: 100%;
  opacity: 0.7;
}

.fond{
  
  z-index: -1;
  left: 200px
}

.move {
    animation: moveImage 4s forwards; ;
}



@keyframes moveImage {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(900px); /* Mueve la imagen 100px hacia la derecha */
    opacity: 0;
  }
}